@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: dimgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* home styles */
.home.container {
  background: url("./assets/home/background-home-mobile.jpg");
  background-size: 100% 100%;
  height: 100vh;
  /* z-index: -1; */
}

/* destination styles */
.destination.container {
  background: url("./assets/destination/background-destination-mobile.jpg");
  background-size: 100% 100%;
  height: 100vh;
}
/* crew */
.crew.container {
  background: url("./assets/crew/background-crew-mobile.jpg");
  background-size: 100% 100%;
  height: 100vh;
}

/* technology */
.technology.container {
  background: url("./assets/technology/background-technology-mobile.jpg");
  background-size: 100% 100%;
  height: 100vh;
}

/* navbar styles*/
.container {
  margin: 0;
}

.container > img {
  margin: 2em 2em 1em 2em;
}

.hamburger.container,
.close.container {
  margin: 0;
  float: right;
}

.hamburger.container > img,
.close.container.close :hover {
  cursor: pointer;
}

.sidenav.container {
  margin: 6em 0;
  display: flex;
  flex-direction: column;
}

.popup.container {
  width: max-content;
}

.division {
  float: right;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  right: 0;
  top: 0;
  width: 60%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  height: 100vh;
  gap: 0;
}

nav {
  margin: 0;
}

.tag {
  text-transform: uppercase;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  padding: 0 2em 1em 0;
  color: white;
  margin: 0em 0 1em 2em;
  padding: 0.5em;
}

.link {
  text-decoration: none;
}

.big-number,
.small-number {
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

.tag.active {
  border-right: 3px solid white;
}

aside {
  margin: 0;
}

.big-screen.nav-container {
  display: none;
  font-family: Barlow Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 2.3625px;

  color: #ffffff;
}

.division > span {
  width: 100%;
}

.click :hover {
  cursor: pointer;
}

.logo {
  float: left;
}

.line {
  display: none;
}

@media only screen and (min-width: 603px) {
  .crew.container {
    background: url("./assets/crew/background-crew-tablet.jpg");
    background-size: 100% 100%;
    height: 100vh;
  }

  .destination.container {
    background: url("./assets/destination/background-destination-tablet.jpg");
    background-size: 100% 100%;
    height: 100vh;
  }

  .technology.container {
    background: url("./assets/technology/background-technology-tablet.jpg");
    background-size: 100% 100%;
    height: 100vh;
  }

  .home.container {
    background: url("./assets/home/background-home-tablet.jpg");
    background-size: 100% 100%;
    height: 100vh;
    z-index: -1;
  }

  .division,
  .hamburger.container,
  .close.container,
  .sidenav.container {
    display: none;
  }

  .big-number {
    display: none;
  }

  .big-screen.nav-container {
    float: right;
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding: 2.8em 4em;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
  }

  .big-screen.nav-item {
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px;
    letter-spacing: 2.3625px;
    color: #ffffff;
    padding: 2.5em 0em;
    margin: 0;
    text-decoration: none;
  }

  .container > img {
    margin: 1.4em 2em 2em 2em;
  }

  .active {
    border-bottom: 3px solid white;
  }
}

@media only screen and (min-width: 1030px) {
  .crew.container {
    background: url("./assets/crew/background-crew-desktop.jpg");
    background-size: 100% 100%;
    height: 100vh;
  }

  .destination.container {
    background: url("./assets/destination/background-destination-desktop.jpg");
    background-size: 100% 100%;
    height: 100vh;
  }

  .technology.container {
    background: url("./assets/technology/background-technology-desktop.jpg");
    background-size: 100% 100%;
    height: 100vh;
  }

  .home.container {
    background: url("./assets/home/background-home-desktop.jpg");
    background-size: 100% 100%;
    height: 100vh;
    /* display: absolute;
    z-index: -999999; */
  }

  .big-screen.nav-container {
    padding: 0em 6em;
    width: 50%;
    justify-content: space-evenly;
    margin-top: 1.6em;
  }

  .container > img {
    margin: 3em 2em 2em 2em;
  }

  .big-number {
    display: unset;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  .big-screen.nav-item {
    display: flex;
    gap: 0.3em;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;

    color: #ffffff;
  }

  .line {
    display: unset;
    position: absolute;
    width: 30%;
    height: 1px;
    left: 8em;
    top: 4.5em;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.25;
    z-index: 1;
  }
}
